@page
@model BoardLobbyServer.Pages.IndexModel
@{
}


<div class="d-flex justify-content-end m-3">
    <img src="~/images/1.png" width="25" alt="...">
    @Model.weather &#8451;
</div>

<div class="d-flex justify-content-center">
<div class="row">
    <div class="col col-md-8">
        <img src="~/images/velkom2.png" width=400px alt="...">
    </div>
    <div class="col col-md-4">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Camel Ludo</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Admin Panel</h6>
                        @if (Model.logged)
                        {
                            <h6>Welcome: </h6>
                            <img src="@Model.adminAvatar" id="avatar" class="rounded" style="width: 50px" alt="..." >
                            @Model.adminName
                        }
                        else
                        {
                            <p class="card-text">To be able use this admin panel please sign in down below:</p>

                            <a class="btn btn-primary" asp-area="" asp-page="/SignIn">Sign In</a>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="card float-start text-center" style="width: 9rem;">
                            <div class="card-body">

                                Total games created:
                              <h3 class="text-primary">  @Model.gameCount</h3>
                            </div>
                        </div>
                       <div class="card float-start text-center" style="width: 9rem;">
                            <div class="card-body">
                                Games Launched:

                                <h3 class="text-primary"> @Model.gamesLaunched </h3>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                 <div class="row">
                    <div class="col d-flex justify-content-center">
                         <div class="card float-start text-center" style="width: 9rem;">
                            <div class="card-body">
                                Games online:
                              <h3 class="text-primary">  @Model.gamesOnline </h3>
                            </div>
                        </div>
                        
                         <div class="card float-start text-center" style="width: 9rem;">
                            <div class="card-body">
                                Players online:

                                <h3 class="text-primary"> @Model.playerCount </h3>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts{
<script src="~/js/playerdata.js"></script>
}
<script src="~/js/signalr/dist/browser/signalr.js"></script>
